# Vim swap file
*.swp

# Backup files
*~

# Mono-D files
*.pidb
*.userprefs

# Sublime Text 2
*.sublime-workspace

# Subversion
.svn/

# D Scanner binaries
dscanner
dscanner.o

# Static analysis reports
dscanner-report.json

# Object files
*.o
*.obj
*.exe
obj

# debug build
dsc

# Git hash
githash.txt

# GDB history
.gdb_history

# Dub stuff
.dub
dub.selections.json
