[submodule "libdparse"]
	path = libdparse
	url = https://github.com/Hackerpilot/libdparse.git
	branch = master
[submodule "inifiled"]
	path = inifiled
	url = https://github.com/burner/inifiled.git
[submodule "containers"]
	path = containers
	url = https://github.com/economicmodeling/containers.git
[submodule "dsymbol"]
	path = dsymbol
	url = https://github.com/Hackerpilot/dsymbol.git
[submodule "libddoc"]
	path = libddoc
	url = https://github.com/economicmodeling/libddoc
